<div class="wrapper">
    <form class="form-signin" [formGroup]="form" (ngSubmit)="login(form.valid)">
        <h2 class="form-signin-heading">Ingresa</h2>
        <div class="row m-2">
            <input type="text" nbInput style="width: 100%; max-width: 100%;"
                class="input-full-width size-large shape-semi-round ng-pristine" formControlName="user" id="user"
                placeholder="Usuario" autofocus fullWidth />
        </div>
        <div class="row m-2">
            <input nbInput style="width: 100%; max-width: 100%;" type="password"
                class="input-full-width size-large shape-semi-round ng-pristine" formControlName="password"
                id="password" placeholder="Contraseña" fullWidth />
        </div>
        <div class="form-group">
            <button class="buttonSubmit" nbButton  nbSpinnerStatus="primary" fullWidth
                status="primary" type="submit" [disabled]="form.invalid">Login</button>
        </div>
    </form>
</div>